# ----------------------------
# Python
# ----------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# ----------------------------
# Virtual environment
# ----------------------------

venv/
ENV/
env/
.venv/

# ----------------------------
# Visual Studio / VS Code
# ----------------------------

# Visual Studio solution user options
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache and indexes
.vs/
HelloWorldProgram/.vs/

# VS Code workspace settings
.vscode/

# ----------------------------
# OS
# ----------------------------

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
